<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pizzabot">
      <ion-icon src="assets/pizza.svg"></ion-icon>
      <ion-label>Pizzabot</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="translate">
      <ion-icon src="assets/language.svg"></ion-icon>
      <ion-label>Translate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sentiment">
      <ion-icon src="assets/fitness.svg"></ion-icon>
      <ion-label>Sentiment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speech">
      <ion-icon src="assets/volume-high.svg"></ion-icon>
      <ion-label>Speech</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-group">
      <ion-icon src="assets/ellipsis-horizontal-outline.svg"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
